html
  head
    include includes/head
  body
    .an_main_960
      .an_header
        .an_logo
          h1 Go gentle into that good night
      .an_about
        include main
      .an_footer
        include includes/footer
