.an_main
    ul#status
      li(data-url="g1.gbg.ninja" data-port="2046")
        p.title G1
        p.time ping...
      li(data-url="g2.gbg.ninja" data-port="2046")
        p.title G2
        p.time ping...
      li(data-url="g3.gbg.ninja" data-port="2046")
        p.title G3
        p.time ping...
